@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

a {
  text-decoration: none;
  color: #777;
  font-weight: bold;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 8px;
}

.footer {
  background-color: #eeeeee;
}

.footer,
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
}
